@charset "UTF-8";

@font-face {
    font-family: "courgette";
    src: url('fonts/Courgette-Regular.ttf') format('truetype');
}

div {
    display: inline-block;
    font-family: courgette;
    color: #ddffde;
    background-image: linear-gradient(to top, #003a16, #007e30, #00fa60);
    border: 1px solid gray;
    text-align: center;
    height: 200px;
    width: 200px;
}

.red {
    color: red;
    display: none;
}

div:hover {
    color: rgb(255, 248, 154);
    background-color: #002e02;
}

div:hover > .red {
    display: inline-block;
}